.box {
  width: 300px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
}
.name {
  margin: 0;
  padding-bottom: 15px;
}

.input {
  margin-bottom: 15px;
  width: 200px;
  height: 20px;
}

.input:focus,
.input:hover {
  border: 2px solid blueviolet;
  border-radius: 5px;
}

.button {
  width: 100px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 3px;
}
